<nav>
  <details class="detailsNav ms-3">
    <summary class="summaryNav my-1 text-2xl">
      Tópico <i class="las la-angle-right text-sm"></i>
    </summary>
    <div class="contentSummary mt-1">
      <details class="detailsNav">
        <summary class="summaryNav my-2 text-lg">
          Tópico <i class="las la-angle-right text-sm"></i>
        </summary>
        <div class="contentSummary">
          <a href="#" class="subTopic">SubTópico</a>
          <a href="#" class="subTopic">SubTópico</a>
          <a href="#" class="subTopic">SubTópico</a>
        </div>
      </details>
      <a href="#" class="subTopic">SubTópico</a>
      <a href="#" class="subTopic">SubTópico</a>
    </div>
  </details>
</nav>
