@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-light text-text-light transition-all dark:bg-background-dark dark:text-text-dark;
  }
  summary {
    list-style-type: none; /* Firefox */
  }

  summary::-webkit-details-marker {
    display: none; /* Chrome */
  }
  html,
  body {
    height: 100vh;
  }
}

@layer utilities {
  dark {
    @apply transition-all;
  }
}

@layer components {
  .gradient-text {
    background-image: linear-gradient(
      to right,
      rgb(232 121 249) 10%,
      rgb(96 165 250) 100%
    );

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .bubble {
    background: radial-gradient(
      circle at 50% 50%,
      rgba(232, 121, 249, 0.33) 10%,
      rgba(96, 165, 250, 0.89) 100%
    );
    border-radius: 50% 22% 40% 80%;
    filter: blur(100px);
    z-index: -1;

    border-radius: 50% 52% 40% 80%;
    position: absolute;
    top: 0%;
    left: 50%;

    transform: translate(-50%, -20%);
    animation: animate-bubble 3s linear infinite alternate;
  }

  @keyframes animate-bubble {
    from {
      border-radius: 50% 52% 40% 80%;
    }
    to {
      border-radius: 0% 12% 0% 40%;
    }
  }

  .sidebarActive {
    @apply absolute -left-0;
  }
  .sidebarInactive {
    @apply relative left-0;
  }
  .summaryNav {
    @apply flex w-full cursor-pointer px-4 py-1 font-light text-title-light transition-all sm:py-3;
    clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 3% 49%, 0% 0%);
    background-image: linear-gradient(
      to right,
      rgb(96 165 250) 10%,
      rgb(232 121 249) 100%
    );
  }
  html.dark .summaryNav {
    background-image: linear-gradient(
      to right,
      rgb(232 121 249) 10%,
      #6466f1 100%
    );
  }
  .detailsNav {
    @apply relative -left-3/4 transition-all hover:left-0;
  }
  .detailsNav > .summaryNav i {
    @apply origin-center rotate-0 transition-all;
  }
  .detailsNav[open] > .summaryNav i {
    @apply origin-center rotate-90 transition-all;
  }
  .detailsNav[open] {
    @apply left-0;
  }
  .contentSummary {
    @apply relative ms-4 flex  flex-col overflow-x-hidden p-1 transition-all dark:border-[white];
  }
  .contentSummary .subTopic {
    @apply mb-1 text-lg font-light text-text-light hover:font-normal dark:text-text-dark;
  }
  .contentSummary .subTopic + .subTopic {
    @apply border-t-[1px];
  }
}
