<div class="flex h-full flex-1 flex-col justify-around">
  <app-configuration></app-configuration>
  <div
    class="gradient-text flex justify-center text-center font-['Alfa_Slab_One'] text-7xl sm:text-[10rem]"
  >
    Topic
    <span class="text-2xl sm:text-4xl">App</span>
  </div>

  <div
    class="bubble h-[200px] w-2/3 transition-all dark:left-[90%] sm:h-[500px]"
  ></div>

  <article>
    <h1 class="font-b text-center font-['Text_Me_One'] text-2xl capitalize">
      Seja bem-vindo
    </h1>

    <p class="text-center">Estamos muito felizes por estar aqui</p>
  </article>

  <button
    class="mt-8 flex w-72 items-center justify-around self-center rounded-full border-2 border-fuchsia-400 p-2 text-2xl hover:text-[#b48cfa]"
  >
    Saiba Mais <i class="las la-arrow-circle-down"></i>
  </button>

  <main class="w-full px-4">
    <section class="flex flex-col"></section>
  </main>
</div>
